*
!wurmlab_sequenceserver/Gemfil*
!wurmlab_sequenceserver/bin
!wurmlab_sequenceserver/config.ru
!wurmlab_sequenceserver/lib
!wurmlab_sequenceserver/package.json
!wurmlab_sequenceserver/package-lock.json
!wurmlab_sequenceserver/webpack.config.js
!wurmlab_sequenceserver/babel.config.js
!wurmlab_sequenceserver/public
!wurmlab_sequenceserver/sequenceserver.gemspec
!wurmlab_sequenceserver/views
!command.sh
!makeconfig.sh
!db/*
